# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
# Ignore

.DS_Store
# Mypy cache
.mypy_cache/
.idea/

# Python cache
.pytest_cache/
__pycache__/
*.egg-info
*.pyc

.virtualenvs/
/.ipynb_checkpoints/*
/build/*
/h5py/*
/ou_process.*
/*.h5
/*.log
/python/*.h5

# Allow
!/ou_process.h5
!/build/noop.txt